<!DOCTYPE html>
<html>
<head>
  <title>Page D'accueil</title>
</head>
<body>
  <h1>Test</h1>
  <p>
    {% if session.botReady %}
      <label for="btDiscordBotoff">Discord Bot:</label>
      <a href="/discord/botoff"><button id="btDiscordBotOff" name="btDiscordBot" type="submit">Desactiver le bot</button></a>
    {% else %}
      <label for="btDiscordBoton">Discord Bot:</label>
      <a href="/discord/boton"><button id="btDiscordBotOn" name="btDiscordBot">Activer le bot</button></a>
    {% endif %}
  </p>

  <p>
    {% if session.scrapeNewsWarframe %}
    [Scraper news Warframe actif]
    {% else %}
    <a href="/newsWarframe/scraperOn"><button id="btNewsScraperOn" name="btNewsScraperOn">Activer le Scraper news Warframe</button></a>
    {% endif %}
  </p>
</body>
</html>